<div class="" ng-init="init()">

    <h1 class="page-header" style="position: relative;">
        פרוייקטים
        <button class="btn btn-success" style="position: absolute;left: 0;top: 10px;" data-toggle="modal"
                data-target="#new">
            צור חדש
            <i class="fa fa-plus"></i>
        </button>
    </h1>

    <div class="">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-clock-o fa-fw"></i>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">

                            <table id="mytable" class="table table-bordred table-striped">

                                <thead>

                                <th>מזהה</th>
                                <th>מחלקה</th>
                                <th>שם</th>
                                <th>תאור</th>
                                <th>תמונות</th>
                                <th>וידאו</th>
                                <th>מקום</th>
                                <th>מוסד</th>
                                <th style="width: 100px;">סטודנטים</th>
                                <th class="col-md-2"> אמיילים</th>
                                </thead>
                                <tbody>

                                <tr ng-repeat="d in projects track by $index">

                                    <td>{{d.id}}</td>
                                    <td>{{d.departmentId.name}}</td>
                                    <td>{{d.name}}</td>
                                    <td>{{d.description}}</td>
                                    <td>
                                        <img ng-repeat="image in d.imageUrl" ng-src="{{image}}"
                                             style="width: 30px;height:30px ;" alt="">

                                    </td>
                                    <td>
                                        {{d.videoUrl}}
                                    </td>
                                    <td>{{d.location.description}}</td>
                                    <td>{{d.institute.name}}</td>
                                    <td>{{d.studentNames.join(',')}}</td>
                                    <td>{{d.studentEmails.join(',')}}</td>
                                    <td>
                                        <p style="display: inline;" data-placement="top" data-toggle="tooltip"
                                           title="Edit">
                                            <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal"
                                                    ng-click="setEdit(d.id)"
                                                    data-target="#edit"><span class="glyphicon glyphicon-pencil"></span>
                                            </button>
                                        </p>
                                        <p style="display: inline;" data-placement="top" data-toggle="tooltip"
                                           title="Delete">
                                            <button class="btn btn-danger btn-xs" data-title="Delete"
                                                    data-toggle="modal" ng-click="delete(d.id)"
                                                    data-target="#delete"><span
                                                    class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </p>
                                    </td>
                                </tr>


                                </tbody>

                            </table>

                            <div class="clearfix"></div>
                            <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            </button>
                                            <h4 class="modal-title custom_align" id="Heading">עדכון פרוייקט</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for=""> שם</label>
                                                <input type="text" ng-model="selected.name" class="form-control">
                                            </div>

                                            <!--<div class="form-group">-->
                                            <!--<label for=""> מחלקה</label>-->
                                            <!--<select class="form-control"-->
                                            <!--ng-options="u.id as u.name for u in departments"-->
                                            <!--ng-model="selected.department.id">-->
                                            <!--</select>-->
                                            <!--</div>-->
                                            <div class="form-group">
                                                <label for=""> תיאור</label>
                                                <input type="text" class="form-control" ng-model="selected.description">
                                            </div>

                                            <div class="form-group" ng-hide="me.role=='student'">
                                                <label for=""> מיקום</label>
                                                <select class="form-control"
                                                        ng-options="u.id as u.description for u in locations"
                                                        ng-model="selected.location.id">
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for=""> אימיילים הסטודנטים</label>
                                                <input type="text" class="form-control"
                                                       ng-model="selected.studentEmails">
                                            </div>
                                            <!--<div class="form-group">-->
                                            <!--<label for=""> שמות הסטודנטים</label>-->
                                            <!--<input type="text" class="form-control"-->
                                            <!--ng-model="selected.studentNames">-->
                                            <!--</div>-->
                                            <div class="form-group">
                                                <label for="">תמונה1 </label>
                                                <input class="form-control" type="file" file-model="selected.imageUrl1">

                                            </div>

                                            <div class="form-group">
                                                <label for="">תמונה2 </label>
                                                <input class="form-control" type="file" file-model="selected.imageUrl2">

                                            </div>
                                            <div class="form-group">
                                                <label for="">תמונה3 </label>
                                                <input class="form-control" type="file" file-model="selected.imageUrl3">

                                            </div>

                                            <div class="form-group">
                                                <label for="">תמונה4 </label>
                                                <input class="form-control" type="file" file-model="selected.imageUrl4">
                                            </div>

                                            <div class="form-group">
                                                <label for="">תמונה5 </label>
                                                <input class="form-control" type="file" file-model="selected.imageUrl5">
                                            </div>
                                            <div class="form-group">
                                                <label for="">וידאו </label>
                                                <input class="form-control" type="text" ng-model="selected.videoUrl">

                                            </div>
                                            <div class="form-group">
                                                <label for="">קובץ קול </label>
                                                <input class="form-control" type="file" file-model="selected.soundUrl">

                                            </div>

                                        </div>
                                        <div class="modal-footer ">
                                            <button type="button" ng-click="update()" class="btn btn-warning btn-lg"
                                                    style="width: 100%;">
                                                <span class="glyphicon glyphicon-ok-sign"></span> עדכון
                                            </button>
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>

                            <div class="modal fade" id="new" tabindex="-1" role="dialog" aria-labelledby="new"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            </button>
                                            <h4 class="modal-title custom_align" id="Heading">יצירת פרוייקט חדש</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for=""> שם</label>
                                                <input type="text" ng-model="new.name" class="form-control">
                                            </div>


                                            <div class="form-group">
                                                <label for=""> תיאור</label>
                                                <input type="text" class="form-control" ng-model="new.description">
                                            </div>

                                            <div class="form-group" ng-hide="me.role=='student'">
                                                <label for=""> מיקום</label>
                                                <select class="form-control"
                                                        ng-options="u.id as u.description for u in locations"
                                                        ng-model="new.location">
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for=""> אימיילים הסטודנטים</label>
                                                <input type="text" class="form-control" ng-model="new.studentEmails">
                                            </div>
                                            <!--<div class="form-group">-->
                                            <!--<label for=""> שמות הסטודנטים</label>-->
                                            <!--<input type="text" class="form-control" ng-model="new.studentNames">-->
                                            <!--</div>-->

                                            <div class="form-group">
                                                <label for="">תמונה1 </label>
                                                <input class="form-control" type="file" file-model="new.imageUrl1">

                                            </div>

                                            <div class="form-group">
                                                <label for="">תמונה2 </label>
                                                <input class="form-control" type="file" file-model="new.imageUrl2">

                                            </div>
                                            <div class="form-group">
                                                <label for="">תמונה3 </label>
                                                <input class="form-control" type="file" file-model="new.imageUrl3">

                                            </div>

                                            <div class="form-group">
                                                <label for="">תמונה4 </label>
                                                <input class="form-control" type="file" file-model="new.imageUrl4">
                                            </div>

                                            <div class="form-group">
                                                <label for="">תמונה5 </label>
                                                <input class="form-control" type="file" file-model="new.imageUrl5">
                                            </div>

                                            <div class="form-group">
                                                <label for="">וידאו </label>
                                                <input class="form-control" type="text" ng-model="new.videoUrl">

                                            </div>
                                            <div class="form-group">
                                                <label for="">קובץ קול </label>
                                                <input class="form-control" type="file" file-model="new.soundUrl">

                                            </div>
                                        </div>
                                        <div class="modal-footer ">
                                            <button type="button" class="btn btn-primary btn-lg" style="width: 100%;"
                                                    ng-click="create()">
                                                <span class="glyphicon glyphicon-ok-sign"></span> שמור
                                            </button>
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                            <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            </button>
                                            <h4 class="modal-title custom_align" id="Heading">מחיקת מחלקה </h4>
                                        </div>
                                        <div class="modal-body">

                                            <div class="alert alert-danger"><span
                                                    class="glyphicon glyphicon-warning-sign"></span> האם למחוק את המחלקה
                                                {{selected.name}} ?
                                            </div>

                                        </div>
                                        <div class="modal-footer ">
                                            <button type="button" class="btn btn-success" ng-click="delete()"><span
                                                    class="glyphicon glyphicon-ok-sign"></span> כן
                                            </button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal"><span
                                                    class="glyphicon glyphicon-remove"></span> ביטול
                                            </button>
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
