<style>
    .title-head{
        margin-top: 20px;
        margin-bottom: 5px;
        border-bottom: 1px dashed #eee;
        padding-bottom: 5px;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 15px;
        letter-spacing: 1px;
    }
    .title-head + p{
        font-weight: 700;
    }
</style>
<div class="container" ng-init="getProject()">
    <div class="row">
        <div class="thumbnail">
            <img ng-src="{{project.imageUrl[0]}}" alt="" class="" >
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">

            <h4 class="title-head">שם</h4>
            <p>{{project.name}}</p>

            <h4 class="title-head">תאור</h4>
            <p>{{project.description}}</p>

            <h4 class="title-head">סטודנטים</h4>
            <p>{{project.studentNames.join(',')}}</p>

            <h4 class="title-head">סרטון</h4>
            <video  width="300px" height="300px" src="">{{project.studentNames.join(',')}}</video>

        </div>
    </div>
</div>