<div class="container" dir="rtl">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
עדכון סיסמא
                    </h3>

                </div>
                <div class="panel-body">
                    <form role="form">
                        <fieldset>
                            <div class="form-group">
                                <label>סיסמא ישנה</label>
                                <input class="form-control" name="oldPassword" ng-model="oldPassword"   autofocus>
                            </div>
                            <div class="form-group">
                                <label>סיסמא חדשה</label>
                                <input class="form-control" name="newPassword" ng-model="newPassword"   autofocus>
                            </div>
                            <div class="form-group">
                                <label>אימות סיסמא</label>
                                <input class="form-control" name="reNewPassword" ng-model="reNewPassword"   autofocus>
                            </div>

                            <a  class="btn btn-lg btn-success btn-block" ng-click="resetPassword()">איפוס סיסמא</a>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>