<h1 class="page-header">מדריך הוספת מפות</h1>
<p>
    על מנת להוסיף את המפות של המוסד יש ראשית לערוך אותם באמצעות Map Tiler אשר יחלק את המפות לחלקים קטנים בכדי שיתאפשר
    לעשות אליהם Zoom in and out:
    <br>

 <a href="http://www.maptiler.com/">http://www.maptiler.com/</a>
    <br>
    ואת המפות צריך לחלק לבניינים אשר ייצגו אזורים שונים ברחבי המוסד ותתי תיקיות שייצגו את רמת ה Zoom מ18-24, ה X וה Y,
    לדוגמה:
    <br>
    (יש להוסיף תמונת תיקיות שצירפתי)
    <br>
    לאחר מכן יש להעלות את תיקיית המפות שיצרתם אל השרת שלכם ולעדכן את הכתובת שלו בקוד באופן הבא:
    <br>
    (יש להוסיף תמונת קוד שאני מצרף)
    <br>
    כאשר הpath מייצג את תיקיית הבניין שיצרתם והתתי תיקיות מיוצגות כ X,Y,Zoom .
    <br>
    כמו כן, במידה ותרצו לשנות מעט את הקוד תוכלו לעשות זאת באמצעות המדריך הבא:
    <br>
   <a href="https://developers.google.com/maps/documentation/android-api/tileoverlay">https://developers.google.com/maps/documentation/android-api/tileoverlay</a>
    <br>
    בהצלחה!
</p>